.recipe {
    background-color: #1a5653;
    overflow: hidden;
    transition: 0.4s;
}

.recipe:hover {
    transform: scale(1.02);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

.recipe-name-price {
    transition: 0.2s;
}

.recipe-poster {
    width: 450px;
    height: 250px;
    object-fit: cover;
}

.recipe-details {
    display: flex;
    padding: 0 20px 20px 20px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #f8f9fa;
}

.recipe-details p {
    margin: 0;
}

.recipe-summary h3 {
    margin: 0;
}

.recipe-summary {
    font-weight: 500;
    font-size: 1.2rem;
    color: #f8f9fa;
    padding: 20px;
}