.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-size: 15px;
    margin-right: 0.5rem;
    color: rgb(235, 235, 235);
}

.input input {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}