.form {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 5px;
    padding: 0 20px;
}

.form button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgba(78, 78, 78, 0.192);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}



button:hover,
button:active {
    background-color: rgb(235, 235, 235);
    color: #1d3770;
}